.vs/
Midnight.EC.Plant.WEB/bin/
Midnight.EC.Plant.WEB/obj/
Midnight.EC.Plant.WEB.Models/bin/
Midnight.EC.Plant.WEB.Models/obj/
Midnight.EC.Plant.WEB.Service/bin/
Midnight.EC.Plant.WEB.Service/obj/
Midnight.EC.Plant.WEB.Utility/bin/
Midnight.EC.Plant.WEB.Utility/obj/

appsettings.Development.json